.button {
	cursor: pointer;
	display: inline-block;
	box-sizing: border-box;
	border: 1px solid #000;
	text-align: center;
	line-height: 20px;
	background-color: #AAA;
	padding: 10px 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
    
    &:active{
        background-color: #CCC;
    }
}
